<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <title>Edit Product - CoffeeShop</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
  </head>
  <body>
    <div class="container">
      <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
      <form th:action="${product.id != null} ? @{/products/edit/{id}(id=${product.id})} : @{/products/add}"
            method="post" th:object="${product}">
        <input type="hidden" th:field="*{id}" />
        <div class="panel panel-default">
          <div class="panel-heading lead">
            <span th:text="${product.id == null} ? 'Create Product' : 'Edit Product: ' + *{productName}"></span></div>
          <fieldset>
            <div class="col-lg-12" th:if="${message != null}">
              <div class="alert alert-success" th:text="${message}"></div>
            </div>
            <div class="col-lg-12 form-group" th:classappend="${#fields.hasErrors('productName')} ? 'has-error'">
              <label class="col-lg-2 control-label" for="name">Name</label>
              <div class="col-lg-4">
                <input type="text" id="name" class="form-control" th:field="*{productName}" />
                <small class="help-block"
                       th:if="${#fields.hasErrors('productName')}"
                       th:errors="*{productName}"></small>
              </div>
            </div>
            <div class="col-lg-12 form-group">
              <label class="col-lg-2" for="description">Description</label>
              <div class="col-lg-4">
                <textarea id="description" class="form-control" th:field="*{description}" rows="5"></textarea>
              </div>
            </div>
            <div class="col-lg-12 form-group" th:classappend="${#fields.hasErrors('price')} ? 'has-error'">
              <label class="col-lg-2 control-label" for="price">Price</label>
              <div class="col-lg-4">
                <input type="text" id="price" class="form-control" th:field="*{price}" />
                <small class="help-block"
                       th:if="${#fields.hasErrors('price')}"
                       th:errors="*{price}"></small>
              </div>
            </div>
            <div class="col-lg-12 form-group" th:classappend="${#fields.hasErrors('productType')} ? 'has-error'">
              <label class="col-lg-2 control-label" for="productType">Type</label>
              <div class="col-lg-4">
                <select id="productType" class="form-control" th:field="*{productType}">
                  <option th:value="${null}">-Select-</option>
                  <option th:each="type : ${T(nl.brianvermeer.workshop.coffee.domain.ProductType).values()}"
                          th:value="${type}"
                          th:text="${type}"></option>
                </select>
                <small class="help-block"
                       th:if="${#fields.hasErrors('productType')}"
                       th:errors="*{productType}"></small>
              </div>
            </div>
            <div class="col-lg-12 form-group">
              <label class="col-lg-2"></label>
              <div class="col-lg-4">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-default" th:href="@{/}">Cancel</a>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
    </div>
  </body>
</html>